# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6


print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print (numberFloat)
print (numberFloat)
numberFloat = 7.2
print (numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [13]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

result_div = num2/num1
print(result_div)

result_mul /= 2
print(result_div)

##### Floor Division

In [15]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [19]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [21]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [25]:
#Strings are string of characters noted by 'single' or "double" quotation marks

name = "Sheneka"
print(name)

Sheneka

##### print() <br>
<p>Don't forget about end=' '</p>

In [26]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Apol")

This is my first name:  Brandon
Full Name: name, end= Apol

##### String Concatenation

In [28]:
#linking strings together

first_name = "Sheneka"
last_name = "Woods"

full_name = first_name + last_name
print(full_name)

full_name += "Miss"
print(full_name)

ShenekaWoods
ShenekaWoodsMiss

##### Type Conversion

In [29]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [35]:
#Input will always return a string

#name = input("What is your name?")
#print("Nice to meet you, " + name)

age = int(input("What is your age chica?: "))
add_age = age + 5
print(add_age)

What is your age chica?: 40
45

##### format()

In [36]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 45
You are 45 Sheneka Sharreaye Woods Husband  and you are getting wiser!
45 is a great time in life!!!

##### Old Way (python 2)

In [38]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 45 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [47]:
car = input("What color is your car? ")

result_string = "Matte Gray Bitch!"
print(result_string)

car = input("What year is your car? ")
result_again = "2023"
print(result_again)

car = input ("What model is your car? ")
result_again = "BMW X5"
print(result_again)

result_again = f" Sheneka Sharreaye, your 2023 BMW XF is fire!"
print(result_again)

What color is your car?
Matte Gray Bitch!
What year is your car?
2023
What model is your car?
BMW X5
 Sheneka Sharreaye, your 2023 BMW XF is fire!

### If Statements

In [23]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F - true and false =false
# T && T = T - true and true = true
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

#if num1 == num2:
#    print('Equal Values!')
#else:
#     print('Not Equal')

#if num2 > num1:
#   print("Num2 is greater")
# elif num1 > num2:
#      print ("Num1 is greater")
#else:
 #     print("Equal values")
    
    
if num2 < num1 or num3 > 0:
    print("This ran!")
else:
    print("You are here")

This ran!

##### 'is' keyword

In [28]:
# The "is" keyword is checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [31]:
#Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [32]:
sega_char = "Sonic The Hedgehog"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [38]:
#OUTPUT: TRUE -- if p is found
#False -- if p is Not found

#name = input("What is your name?")
#print("Nice to meet you, " + name)

name = (input("What is your input?"))

if 'p'not in name:
    print('False')
if 'p'in name:
    print('True p is in here')

What is your input?programmer
True p is in here

## Using 'and'/'or' with If Statements

In [41]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [47]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name? Max
The name is Max

### Else Statements

In [46]:
# see above

### For Loops

In [49]:
#Syntax:
#for keyword, counter in condition
#for and in will be in every loop

name = "Sheneka Woods"


for letter in name:
    print(letter)

Sheneka Woods
S
h
e
n
e
k
a

W
o
o
d
s

##### Using 'in' keyword

In [ ]:
# see above
#. just means what we're looking through or iterating

##### Continue Statement

In [ ]:
# will continue to next iteration

In [53]:
name = "Sheneka Woods"

#for i in range (20):
   # if i == a:
       # continue
    #print(i)
    
for i in name:
    if i == "a":
        continue
    print(i)

S
h
e
n
e
k

W
o
o
d
s

##### Break Statement

In [ ]:
# will break out of current loop

In [54]:
for i in range (20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
name = "Sheneka Woods"

for i in name:
    pass

##### Double For Loops

In [55]:
#for i in range (5):
   # for j in range (5):
       # print('i = ',i, 'j =', j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [57]:
#Syntax:
#while keyword, condition statement
# will continue happening as long as something is true

num = 0

while num < 10:
    print(num)
    num += 1
    
#CTRL C TO CANCEL

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
#bad practice

game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? yes
Infinite Loop
Would you like to stop?
Infinite Loop
Would you like to stop?
Infinite Loop

##### While & For Loops Used Together

In [64]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num+= 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [28]:
# range(Start, stop, step)

for i in range(1, 20, 3):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [12]:
# will check the length of any variable

#name = "Max"

#length = len(name)
#print(length)

name = input("Give me the name of your favorite book: ")
length = len(name)
print(length)

Give me the name of your favorite book: Roll of thunder hear my cry
27

##### help()

In [15]:
# Use this function to view more info about a python function
#help(len)

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [18]:
# Check a variabale to find out what object family (or data type) it belongs to
#isinstance(var,type)


# The float type in Python represents the floating point number. 
#Float is used to represent real numbers and is written with a decimal point dividing 
#the integer and fractional parts. For example, 97.98, 32.3+e18, -32.54e100 all are floating point numbers

#print(isinstance(4.5,int))

#if isinstance(4.5, float):
#if isinstance(4.5, float):
    #print("This number is a float type")
    
# can't make a float an integer

#num = 4.5

num = input("Pick a number")
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

Pick a number4
4 is a float!

##### abs()

In [19]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [23]:
# Use this to log out graceful and useful error messages
#Does not stop the program! 

# input_num = int(input('Guess a number'))
#print('Your number is ' + str(input_num))

try:
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

Guess a numbergreenjuice
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [29]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [40]:
# allows you to pick certain items from a list

#list_name[start: stop: step]

# Single Index
print(names[1])

#Print starting at index 1 going to the end
print(names[1:])

#Print starting at the beginning of a list up until a number
print(names[:2])

#Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

#Print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [41]:
# The append method is mainly used to append or add data in a file. Will put at the very end of the list

names.append('Sheneka')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Sheneka']

##### .insert()

In [42]:
#will place item wherever you want in the list

names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Sheneka']

##### .pop()

In [44]:
#Defaults to the last value if no parameter is given
#Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'bob', 'Nate', 'Sheneka']


##### .remove()

In [48]:
# Value to be removed rather than index
#names.remove('bob')
#print(names)

#remove multiple shenekas from list
while 'Sheneka'in names:
    names.remove('Sheneka')
print(names)

['Max', 'Cindy', 'Nate']

##### del()

In [49]:
#Goes by index, rather than value
#Be careful with del, it can cause indeing errors if not used carefully

del(names[1])
print(names)

['Max', 'Nate']

##### Concatenating Two Lists

In [52]:
#Will append(add)two lists together, will NOT add the values!!!

list_2 =[0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [51]:
#Lists can hold ANY type of other element! Including other lists!
#They can go as deep as you want; this is called NESTED LISTS

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [56]:
# Two ways to loop through list! One is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
#Loop with 'in'
for name in names:
    print(i)

Max
['Sally', ['Sue', 'Jim'], 'Tameka']
Josh
sam
3
3
3
3

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
cubed_number = num ***3
for number in number:
    number=list(range(1, 11))
    print(number)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num = 100
for i in range(1,100):
    count = 0
    for j in range (1, i + 1):
        if (i % j == 0):
            count = count + 1
    if (count ==2):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input('Enter age'))

#if a person is 18 or younger
if age <= 18:
    print ('kids')

#if a persoon is 18 to 65
elif age >= 18 and age >65:
    print('adults')

# if a person is 18 to 65
else: 
    print('seniors')